/* CSS Reset */

*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Utils */

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f5f3;
}

.bold{
    font-weight: bold;
}

/* Generics */

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

p > i {
    margin-right: 5px;
    color: #ff9614;
    font-size: 1rem;
}

ul{
    list-style: none;
    margin: 30px 0;
}

li{
    margin: 15px 0;
}

/* Header Name */


h1{
    font-family: 'Nerko One', cursive;
    text-align: center;
    font-size: 3rem;
    padding: 10px 20px;

    background-color: white;
    color: #ff9614;
    text-shadow: 2px 2px black;
}

/* Main */

main{
    padding: 20px 20px;
}

/* Main Header */

h4{
    font-weight: normal;
    color: #a599a5;
}

.row.title{
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

h2{
    font-weight: bolder;
    font-size: 2rem;

    color: #4e3969;
}


.rate > span {
    font-weight: bold;
    color: white;

    background-color: #ff9614;
    padding: 10px 20px;
    border-radius: 20px;

    margin:0 10px;
}

/* Jumbotron */

.jumbotron{
    padding-bottom: 10px;
    background: white;
}

iframe{
    display: block;
    width: 100%;
    border: 0
}

.container-xs{
    max-width: 90%;
    margin: 20px auto;
}

.box{
    background-color: #f6f5f9;
    padding: 10px 20px;
}

.row.info{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.info p:first-child{
    color: white;
    background-color: #7b69a2;

    font-size: 14px;
    font-weight: 700;

    padding: 5px 10px;
    border-radius: 10px;
}

.info p:last-child{
    color: #ff9614;
    font-size: 1.2rem;
    font-weight: 900;
}

.row.list{

    flex-direction: column;
}

.card-list > i {
    color: #ff9614;
    margin-right: 5px;
}

.card-list{
    margin: 10px 0;
}

/* Sezione Social */

.social.row{
    justify-content: space-around;
}

.social > li{
    font-size: 12px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

.c-blue{
    color: #1a77f3;
}

.c-azure{
   color: #009eff;
}

.c-violet{
    color: #df4378;
}

.c-red{
    color: #e62222;
}

/* Sezione presentazione */

#banner{
    display: none;
}

.presentation{
    margin-bottom: 30px;
}

h3{
    font-size: 2rem;
}

.line{
    width: 100px;
    margin: 10px 0;
    border: 2px solid #ff9614;
}

img{
    display: block;
    max-width: 75%;
    margin: 20px auto 10px;
}

.presentation-text{
    margin-top: 25px;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

/* Footer */

footer{
    padding: 20px 30px;
    background-color: #7c69a4;
    color: white;

    text-align: center;
}

.info-company{
    padding: 0 50px;
}

h5{
  font-size: 1rem;
  margin-bottom: 10px;
}

h5 > i{
    margin-right: 5px;
}

.row.info-company{
    margin: 0 -10px;
    justify-content: space-around;
}

.info-company > li{
    flex-basis: calc(100% / 5);
    padding: 0 10px;
}

.c-white{
    color: white;
}